.button {
  background: #fff;
  border-radius: 6px;
  color: #1a1a1a;
  display: block;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  &:hover,
  &:active {
    color: #1a1a1a;
    text-decoration: none;
  }
}

.button-outline {
  border: 1px solid #ddd;
}

.button-center {
  margin: 0 auto;
}

nav .button {
  padding: 0;
}

nav .button a {
  color: #222;
  display: block;
  padding: 12px 30px;
  &:hover,
  &:active {
    color: #1a1a1a;
    text-decoration: none;
  }
}

.wallet-buttons {
  text-align: center;
}

.wallet-buttons a {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 20px center;
  display: inline-block;
  padding-left: 50px;
  margin: 10px;
}

.button-linux {
  background-image: url("../img/logo-linux.svg");
}

.button-mac {
  background-image: url("../img/logo-apple.svg");
}

.button-windows {
  background-image: url("../img/logo-windows.svg");
}

.use-cases .button {
  clear: both;
  max-width: 272px;
}

.testimonials .button {
  background-color: transparent;
  border: 1px solid #444;
  clear: both;
  color: #fff;
  max-width: 220px;
  text-align: center;
}

@media (min-width: 480px) {

}

@media (min-width: 768px) {
  .use-cases .button {
    max-width: 308px;
  }

  .testimonials .button {
    max-width: 248px;
  }
}

@media (min-width: 1024px) {
  nav .button a {
    padding: 12px 50px;
  }
}
