.wrapper {
  margin: 0 auto;
  width: 92.5%;
}

header {
  background: #222;
  padding: 20px 0;
}

header nav {
  margin: 25px 0 0;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hero {
  background: #222;
  padding: 20px 0;
}

.hero h1 {
  margin-bottom: 25px;
}

.hero ul.links {
  padding-left: 0;
  text-align: center;
}

.hero ul.links li {
  display: inline-block;
  list-style-type: none;
  margin: 0 10px 20px;
}

.hero ul.links a {
  padding: 3px 1px 3px 30px;
}

.hero ul.links .icon-video a {
  background: url("../img/icon-video.svg") no-repeat top left;
  padding-top: 1px;
}

.hero ul.links .icon-whitepaper a {
  background: url("../img/icon-whitepaper.svg") no-repeat top left;
}

.hero ul.links .icon-wallet a {
  background: url("../img/icon-wallet.svg") no-repeat top left;
  padding-left: 35px;
}

.hero-image {
  box-shadow: 2px 16px 34px 0 #000;
  display: block;
  margin: 0 auto 4vh;
  max-width: 500px;
  width: 100%;
}

.hero a.scroll-down {
  background: url("../img/scroll-down.svg") no-repeat top left;
  background-size: 20px 11px;
  display: block;
  height: 11px;
  margin: 0 auto;
  width: 20px;
}

.hero .scroll-down span {
  display: none;
}

.features,
.wallet,
.how-it-works,
.use-cases,
.testimonials {
  padding: 35px 0;
}

.features .feature {
  margin: 20px 0;
}

.features .feature img {
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.20);
  border-radius: 8px;
  margin-bottom: 15px;
  max-width: 400px;
  width: 100%;
}

.wallet {
  background: #eee;
}

.wallet-screenshots {
  display: block;
  margin: 10px auto;
  max-width: 1000px;
  width: 100%;
}

.how-it-works {
  border-bottom: 1px solid #eee;
}

.how-it-works ol {
  font-size: 14px;
  margin: 20px 0;
  padding-left: 20px;
}

.how-it-works .map {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.use-cases .use-case {
  margin: 20px 0;
}

.use-cases .use-case img {
  margin-bottom: 10px;
}

.testimonials {
  background: #222;
}

.testimonials .testimonial-avatar,
.testimonials .testimonial .quote {
  display: table-cell;
  vertical-align: top;
}

.testimonials .testimonial {
  clear: left;
  margin: 20px 0;
}

.testimonials .testimonial-avatar {
  float: left;
  margin-right: 20px;
  width: 20%;
}

.testimonials .quote p {
  margin-bottom: 5px;
}

.testimonials .testimonial .quote span {
  color: #bbb;
}

footer {
  background: #111;
  color: #757575;
  padding: 35px 0;
}

footer ul {
  padding-left: 0;
}

footer li {
  margin-bottom: 10px;
}

footer ul.social-media {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  header nav {
    float: right;
    margin-top: 0;
  }

  header nav li,
  header nav li.button {
    margin: 0 0 0 18px;
  }

  header nav li:first-child {
    margin-left: 0;
  }

  .hero h2 {
    margin-top: 15px;
  }

  .hero h1 {
    margin-bottom: 40px;
  }

  .hero ul.links li {
    margin-left: 20px;
    margin-right: 20px;
  }

  .features .feature,
  .use-cases .use-case {
    width: 48%;
    float: left;
    &:nth-child(2) {
      float: right;
    }
    &:nth-child(4) {
      clear: both;
      float: none;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .testimonials .testimonial {
    clear: none;
    float: left;
    width: 46%;
    &:nth-child(2) {
      margin-right: 8%;
    }
  }
}

@media (min-width: 1024px) {
  .hero .hero-image {
    margin: 8vh auto;
    max-width: 50%;
  }

  .features .feature,
  .use-cases .use-case {
    // clear: none !important;
    float: left !important;
    margin-right: 5%;
    margin-left: 0;
    width: 30%;
    &:nth-child(4) {
      clear: none;
      margin-right: 0;
    }
  }

  .features .feature img {
    margin-bottom: 20px;
  }
}
