---
layout: default
---

<div class="hero">
  <div class="wrapper">
    <h2>Decentralized User Data Collection on a Blockchain</h2>
    <h1>Insights Network is a market research technology where individuals earn
      money to publish their data while maintaining their anonimity</h1>
    <ul class="links">
      <li class="icon-video">
        <a href="#">Watch Video</a>
      </li>
      <li class="icon-whitepaper">
        <a href="#">Read Whitepaper</a>
      </li>
      <li class="icon-wallet">
        <a href="#">Download Wallet</a>
      </li>
    </ul>
    <img src="assets/img/hero-wallet.png" alt="The Insights Wallet" class="hero-image" />
    <a href="#features" class="scroll-down"><span>Scroll Down</span></a>
  </div><!--.wrapper-->
</div><!--.hero-->
<div class="features" id="features">
  <div class="wrapper clearfix">
    <h2>Key Features</h2>
    <div class="feature">
      <img src="assets/img/features-own-information.png">
      <h3>Secure Identity Management</h3>
      <p>Create your demographic profile to begin answering market research
      questions and voting in polls. Your profile is stored across our
      distributed infrastructure with end to end encryption safe from hackers.</p>
    </div><!--.feature-->
    <div class="feature">
      <img src="assets/img/features-get-paid.png">
      <h3>Answer Questions to Receive Tokens</h3>
      <p>Earn star tokens for taking part in market research and voting polls
      that target your demographic. Don't be afraid to voice your opinion. Your
      personal information is secured behind your cryptographic code.</p>
    </div><!--.feature-->
    <div class="feature">
      <img src="assets/img/features-real-time-results.png">
      <h3>Blockchain Verifiable Results</h3>
      <p>he future of voting will change forever as all results published can be
      verified via the blockchain. Insights publishes all consumer feedback
      publically so the population can take this valuable data to improve systems,
      shifting the power from private corporations and governments, back to the people.</p>
    </div><!--.feature-->
  </div><!--.wrapper-->
</div>
<div class="wallet">
  <div class="wrapper">
    <h2>Wallet</h2>
    <img src="assets/img/wallet-screenshots.png" class="wallet-screenshots">
    <div class="wallet-buttons">
      <a href="#" class="button button-linux">Download Linux</a>
      <a href="#" class="button button-mac">Download Mac</a>
      <a href="#" class="button button-windows">Download Windows</a>
    </div><!--.wallet-buttons-->
  </div><!--.wrapper-->
</div><!--.wallet-->
<div class="how-it-works">
  <div class="wrapper clearfix">
    <h2>How It Works</h2>
    <ol>
      <li class="active">Create a Profile</li>
      <li>Someone asks a question</li>
      <li>You answer questions</li>
      <li>You get paid</li>
    </ol>
    <div class="content">
      <img src="assets/img/how-it-works-map.png" class="map">
    </div><!--.-->
  </div><!--.wrapper-->
</div><!--.how-it-works-->
<div class="use-cases">
  <div class="wrapper clearfix">
    <h2>Use Cases</h2>
    <div class="use-case">
      <img src="assets/img/icon-market-research.svg">
      <h3>Market Research</h3>
      <p>Place data requests to find out how set demographics feel about your
        competitors. Send tokens for answers.</p>
    </div><!--.use-case-->
    <div class="use-case">
      <img src="assets/img/icon-people.svg">
      <h3>Sociology</h3>
      <p>Each user account is encrypted and data is split, encrypted, and sent
        across the network. This makes it impossible for any hacker to access your
        account and download all of your information.</p>
    </div><!--.use-case-->
    <div class="use-case">
      <img src="assets/img/icon-politics.svg">
      <h3>Political Campaigns</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur
        velit nec eleifend fermentum. Sed tempus et neque eu hendrerit.</p>
    </div><!--.use-case-->
    <a href="#" class="button button-outline button-center">Development Documentation</a>
  </div><!--.wrapper-->
</div><!--.use-cases-->
<div class="testimonials">
  <div class="wrapper">
    <h2>Testimonials</h2>
    <div class="testimonial clearfix">
      <img src="assets/img/testimonials-zerohedge.png" class="testimonial-avatar">
      <div class="quote">
        <p>"The Globalist One World Currency Will Look A Lot Like Insights Token"</p>
        <p><span>@zerohedge</span></p>
      </div>
    </div><!--.testimonial-->
    <div class="testimonial clearfix">
      <img src="assets/img/testimonials-donald-trump.png" class="testimonial-avatar">
      <div class="quote">
        <p>"I'm proud to announce that Insights Network is going to be the new official US Currency. It's really tremendous cyber!"</p>
        <p><span>@realDonaldTrump</span></p>
      </div>
    </div><!--.testimonial-->
    <a href="#" class="button button-center">See More Testimonials</a>
  </div><!--.wrapper-->
</div><!--.testimonials-->
